{% extends "base.html" %}
{% block title %}How To Use ?{% endblock title %}
{% block body %}
<h1> <u>How to use our To-Do-List </u><br></h1> <br><br>
<h2> ➯ LOGIN :- </h2>
<h3>
    • To log in or sign in to a website, first, navigate to the website in your web browser.<br>
    • Look for options like "Sign In" or "Log In" typically found at the top right corner of the homepage. Click on this button 
    to proceed.<br> 
    • Next, enter your credentials, usually a combination of username/email and password. <br> 
    • After entering your information, click on the "Sign In" or "Log In" button to complete the process. Upon successful authentication,
     you'll gain access to your account.<br> 
</h3><br>
<h2> ➯ SIGN UP :-</h2>
<h3>
    • To sign up on a website, you'll need to provide your email address, first name, last name, mobile number, and create a password.<br>
    • Start by navigating to the website's sign-up page and locate the sign-up form.<br>
    • Enter your email address, first name, last name, and mobile number into the respective fields. Then, choose a strong password
    that meets the website's requirements and enter it into the password field.<br> 
    • After completing the form, review your information for accuracy and click on the sign-up or submit button to create your account.
    Make sure to keep your login credentials secure and follow any further instructions provided.
</h3><br>
<h2> ➯ ADD NEW TASK :-</h2>
<h3>
    • On the web page, locate the form labeled "Add Task". <br>
    • Enter the name of the task in the "Task Name" input field. <br>
    • Enter the description of the task in the "Task Description" input field. <br>
    • Select the category of the task from the dropdown menu labeled "Category".<br>
    • Click the "Add Task" button to submit the task information. <br>
    • Now add as much tasks you want to remember. <br> 
</h3><br>
<h2> ➯ TASK LIST :-</h2>
<h3> 
    • You will be automatically redirected to this page once you added a task. <br>
    • Here you can view all your tasks that you added. <br>
    • You will see each task with its name, description, status, date created, and category. <br>
    • You have two options for every task : Mark done & Delete task. <br>
    • Once your task is done  click on "Done Task", the status will update to done and then you can delete the task if you want or keep it as it is for your own record. <br> 
</h3><br>
<h2> ➯ HOW TO CONTACT US :- </h2>
<h3>
    • If you encounter any issues while using our service, feel free to contact us through our contact us page. <br>
    • Once you open the contact us page you will be asked for your email , name , phone no , subject of your problem and a detailed explanation. <br>
    • Once you have listed all your queries you can submit it and we will contact you as soon as possible and do our best to solve your issue. <br>
</h3><br> <br>
<h1> THANK YOU FOR BEING A PART OF THIS WEBSITE !! </h1> <br> <br>
{% endblock body %}